*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    background-image: url(download\ \(1\).jpg);
         min-height: 100vh;
        background-position: center;
        background-size: cover;
        width: 100%;
        /* position: absolute; */
    }
.hero{
    color: white;
    font-size: 35px;
  padding-left: 200px;
  padding-top: 150px;
  
}
.hero2{
    font-size: 20px;
    padding-top: 20px;
}
.go{
padding-top: 20px;

}
.hero3{
    border: 2px solid white;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: transparent;
    font-weight: 600;
    margin: 5px;
    padding: 10px;
  
}
.part2{
    /* margin: 25px; */
    padding-left: 200px;
    margin-top: 50px;
    display: inline-block;
}
.hello{
    color: blue;
    display: inline-block;
    padding-left: 200px;
}
.main{
    display: inline-flex;
    margin: auto;
    /* width: fit-content; */
}
.black{
    height: 110px;
    width: 200px;
    background-color: black;
    display: inline-block;
    color: blanchedalmond;
    text-align: center;
    padding-top: 80px;
    font-size: 25px;
    position: relative;
    left: 250px;
    margin: 25px;
}
.b2{
    position: relative;
    top: 200px;
    color: black;
}
.ip{
    position: relative;
    left:270px;
    color: rgb(31, 31, 241);
}
.bg2{
    background-image: url(bg2.jpeg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    /* width: 100%; */
}
.bg2 h1{
    position: relative;
    left: 900px;
    color: white;
    top: 200px;
    line-height: 50px;
}
.bg2  p{
    color: white;
    left: 900px;
    top: 220px;
    position: relative;
}
div a{
    color: white;
    position: relative;
    left: 900px;
    top: 240px;
    border: 2px solid white;
   color: black;
    background-color: white;
    text-decoration: none;
}
