*{
    margin: 0;
    padding: 0;
}
.header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url(bg\ 2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
   position: absolute;
}
.jb{
    background-color: black;
    position: absolute;
    height: 70%;
    width: 400px;
    /* color: blue; */
    background-color: rgb(50, 156, 205, 0.3);
    /* border: 1px solid black; */
}
 

