*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: rgb(33, 175, 128);
    
}
header{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    height: 60px;
    display: flex;
    background-color: whitesmoke;
}
#logo h4{
     /* background-color: whitesmoke; */
     position: relative;
     left: 120px;
     line-height: 60px;
}

#logo{
    line-height: 3;
}

ol{
    /* background-color: whitesmoke; */
    list-style-type: none;
    line-height: 55px;
    align-items: center;
    justify-content: center;
}

li{
    display: inline-block;
    margin-left: 40px;
    /* background-color: whitesmoke; */
    position: relative;
    left: 200px;
}

button{
    margin-left: 600px;
    width: 111px;
    height: 50px;
    margin-top: 5px;
    background-color: chocolate;
    border-radius: 5px;
    border: none
}

.btn{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

#main_section{
    display: grid;
    margin-top: 30px;
    grid-template: 
                  "b1 b4 b2"
                  "b3 b4 b5"
                  "b6 b4 b7";
}

img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    
    position: relative;
    /* top: 10%;
    left: 10%; */
}

.left_box:nth-child(1){
    background-color: whitesmoke;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    margin-left: 280px;
    text-align: center;
    grid-area: b1;
}

.left_box:nth-child(2){
    background-color: whitesmoke;
    width: 150px;
    height: 40px;
    margin-right: 280px;
    text-align: center;
    border-radius: 30px;
    grid-area: b2;
}


.left_box:nth-child(3){
    background-color: whitesmoke;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    margin-left: 220px;
    text-align: center;
    grid-area: b3;
}

#center-tag{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    top: 10%;
    left: 5%;
    text-align: center;
    grid-area: b4;
}


/* .right_box, .left_box, #center-tag{
    border:1px solid red;
} */

.right_box, .left_box{
    margin-top: 80px;
}

.right_box:nth-child(5){
    background-color: whitesmoke;
    width: 150px;
    height: 40px;
    text-align: center;
    margin-left: 80px;
    border-radius: 30px;
    grid-area: b5;
}

.right_box:nth-child(6){
    background-color: whitesmoke;
    width: 150px;
    height: 40px;
    margin-left: 280px;
    text-align: center;
    border-radius: 30px;
    grid-area: b6;
}

.right_box:nth-child(7){
    background-color: whitesmoke;
    width: 150px;
    height: 40px;
    margin-right: 280px;
    text-align: center;
    border-radius: 30px;
    grid-area: b7;
}